<div
  style="background: gray; padding: 20px; font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif"
>
  <div id="pleaseWait" style="display: none;">
  Please Wait While Document Processes

  </div>
    <div style="display: flex; width: 100%; justify-content: center">
      <Button id="Ok" onclick="redirect()" style="display: none;">Ok</Button>
    </div>
  <div style="background: white">
    <div id="releaseForm" style="padding: 20px; background: white">
      <div
        style="text-align: center; font-weight: bold; font-size: 2em; padding: 20px;"
      >
        CONSENT AND RELEASE AGREEMENT
      </div>
      <hr />
      <div>
        <p>
          The “Property” means the equine boarding facility known as Glenoaks
          Equestrian Center located at 3639 Alpine Road, Portola Valley,
          California 94028.
        </p>
        <p>
          “Releases Party(ies)” means Isola Stables, Inc. and Glenoaks
          Equestrian Center, LLC and their owners, officers, members, agents,
          employees and contractors. In consideration for being permitted by any
          Released Party to participate in the sport of horseback riding at the
          Property or to otherwise use the Property, I acknowledge and agree as
          follows:
        </p>
        <p>
          1. Hazardous Activity. I understand and expressly acknowledge THAT THE
          HANDLING, CARE, AND RIDING OF HORSES ARE INHERENTLY HAZARDOUS
          ACTIVITIES and participating in horseback riding and horse sports, and
          my use of the Property involve inherent dangerous risks that include,
          but are not limited to, the risks of accident, loss, serious bodily
          injury, property damage, and/or death (“Harm”). I AM VOLUNTARILY
          PARTICIPATING IN SUCH ACTIVITIES AND AM PLACING MYSELF IN THE VICINITY
          OF SUCH HARM WITH FULL KNOWLEDGE OF THE DANGERS INVOLVED. I hereby
          expressly assume ALL RISK OF HARM to my horse(s), and myself and
          choose voluntarily to participate in the sport of horseback riding at
          the Property or to otherwise use of the Property.
        </p>
        <p>
          2.Property Rules and Regulations. I agree to observe all rules
          andregulations of safe conduct on the Property posted at the Property
          or otherwise made available to me (for example, rules regarding access
          to Felt Lake or use of rings and trails during inclement weather).
        </p>
        <p>
          3. Personal Property. I agree that if I bring any personal property to
          the Property, and if I store or leave any personal property at the
          Property (including property left in any tack room), I will do so at
          my own risk, and none of the Released Parties shall have any liability
          in the event of the loss, damage, unauthorized use (by any person
          other than a Released Party), or theft of any such property, except to
          the extent caused solely by the gross negligence or willful misconduct
          of the Released Parties.
        </p>
        <p>
          4. Agreement not to Sue. I HEREBY AGREE THAT I WILL NOT MAKE A CLAIM
          AGAINST, SUE, DEMAND COMPENSATION OR INDEMNITY FROM, OR ATTACH ANY OF
          THE PROPERTY OR ASSETS OF ANY OF THE RELEASED PARTIES for any loss,
          damage, bodily injury, disability, illness, disease, death, financial
          loss, property loss, damage, or destruction or other harm of whatever
          nature, whether foreseen or unforeseen, suffered by myself, any other
          person, my horse or any other person’s horse caused by, resulting
          from, or arising out of, directly or indirectly, my participation, or
          the participation of any other person, in the handling, care, riding
          or training of horses, the use of the Property, except to the extent
          caused solely by the gross negligence or willful misconduct of the
          Released Party or Parties.
        </p>
        <p>
          5. Release. I HEREBY FULLY AND UNCONDITIONALLY RELEASE, FOREVER
          JOINTLY AND SEVERALLY DISCHARGE, INDEMNIFY AND HOLD HARMLESS THE
          RELEASED PARTIES, TO THE EXTENT PERMITTED BY LAW FROM ANY AND ALL
          CLAIMS, ACTIONS, DEMANDS, RIGHTS, CAUSES OF ACTION, AND LIABILITIES OF
          ANY KIND, WHETHER IN LAW OR IN EQUITY, OR ANY COMMON LAW CLAIMS OF ANY
          KIND including, without limitation, any and all Harm to me or my
          horse(s), any Harm caused or contributed to by me or my horse(s) to
          others, breach of contract, negligence, negligent misrepresentation,
          and any or all real or pretended claims, causes of action or demands,
          whether foreseen or unforeseen, which may be sustained by me or any
          other person as a direct or indirect result of my riding of horses at
          the Property or the use of the Property in any manner, WHETHER OR NOT
          SUCH CLAIM, INJURY, DAMAGE, OR LOSS RESULTED, DIRECTLY OR INDIRECTLY,
          FROM MY NEGLIGENT ACTS OR OMISSIONS OR THE NEGLIGENT ACTS OR OMISSIONS
          OF ANY RELEASED PARTY, except to the extent caused solely by the gross
          negligence or willful misconduct of any Released Party. I understand
          that as part of the consideration for this Release, I assume the risk
          of yet unknown claims and waive the provisions of Section 1542 of the
          California Civil Code, which reads as follows: A GENERAL RELEASE DOES
          NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO
          EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF
          KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE
          DEBTOR.
        </p>
        <p>
          6. Handlers and Invitees. Isola Stables Release 2019 Page 2 of 2 I
          AGREE THAT I WILL NOT PERMIT ANY PERSON (OTHER THAN THE RELEASED
          PARTIES) TO HANDLE OR RIDE MY HORSE, OR ANY OTHER HORSE UNDER MY
          CONTROL, AT THE PROPERTY UNLESS SUCH PERSON HAS DULY SIGNED THIS
          RELEASE AND DELIVERED IT TO ANY RELEASED PARTY.
        </p>
        <p>
          7. General. Heirs and Assigns. I understand and agree that this
          Release shall be binding upon my heirs and assigns. Minors. If a
          parent or guardian is signing below, he or she consents to the minor
          child’s participation in the sport of horseback riding at the Property
          or other use of the Property and agrees to all of the above provisions
          and agrees to assume all of the obligations of this release of
          liability on the minor child’s behalf. Dispute Resolution. If
          applicable, the parties shall exercise good faith reasonable efforts
          to achieve resolution through proceedings in small claims court in San
          Mateo County, California. In the event that a proceeding cannot be
          brought in small claims court, the parties shall exercise good faith
          reasonable efforts to achieve resolution through nonbinding mediation
          administered by JAMS located in San Mateo County, California. If the
          mediation is unsuccessful, the parties may then resort to arbitration,
          litigation or another dispute resolution procedure. Attorneys’ Fees.
          If either party employs attorneys to enforce any rights arising out of
          or relating to this Agreement, the prevailing party in such disputes
          shall be entitled, in addition to its other rights hereunder, to
          recover reasonable attorneys’ fees and all related expenses.
          “Prevailing party” means that party in whose favor any monetary or
          equitable award is made, regardless of settlement offers. Governing
          Law; Jurisdiction. This Agreement will be governed by California law,
          without regard to its principles of conflicts of law. The parties
          hereby agree that the Superior Court of the State of California for
          San Mateo County or the United States District Court for the Northern
          District of California shall have jurisdiction and venue over any
          controversies, proceedings, or disputes arising in connection with
          this Agreement. Entire Agreement. This Agreement may be amended only
          by a written document executed by a duly authorized representative of
          each of the parties. This Agreement constitutes the entire agreement
          between the parties concerning the subject matter of this Agreement
          and it replaces and supersedes any prior verbal or written
          understandings, communications, and representations between the
          parties regarding the subject matter of this Agreement.
        </p>
        <p>
          I HAVE EXECUTED THIS RELEASE VOLUNTARILY, WITHOUT RELYING ON ANY
          STATEMENT OR REPRESENTATION OF ANY RELEASED PARTY. I UNDERSTAND AND
          ACKNOWLEDGE THAT THIS RELEASE IS A RELEASE OF LEGAL LIABILITY. I
          FURTHER UNDERSTAND AND AGREE THAT THE RELEASED PARTIES WILL USE THIS
          RELEASE AS A DEFENSE TO ANY CHARGE WHICH I FILE, INVESTIGATION OR
          PROCEEDING IN WHICH I PARTICIPATE, OR REMEDY WHICH I SEEK.
        </p>
      </div>
      <div>
        <div>
          <input
            id="name"
            type="text"
            placeholder="Name of Minor Rider/Adult Rider"
            style="padding: 5px; margin: 5px 0 5px 0; width: 95%"
          />
        </div>
        <div>
          <input
            id="parentGuardian"
            type="text"
            placeholder="Parent Guardian Name"
            style="padding: 5px; margin: 5px 0 5px 0; width: 95%;"
          />
        </div>
        <div>
          <input
            id="address"
            type="text"
            placeholder="Address"
            style="padding: 5px; margin: 5px 0 5px 0; width: 95%;"
          />
        </div>
        <div>
          <input
            id="email"
            type="text"
            placeholder="email"
            style="padding: 5px; margin: 5px 0 5px 0; width: 95%;"
          />
        </div>
        <div style="padding: 5px; margin: 5px 0 5px 0; width: 95%;">
        Signature of Adult Rider/Parent Guardian
        </div>
        <div id="sigWrapper" class="wrapper" style="border: solid grey 2px; margin: 10px; overflow: hidden">
           <canvas id="signature-pad" class="signature-pad" width=4000 height=200></canvas>
        </div>
        <button id="clear">Clear</button>
        <div id="dateText" style="text-align: right; width: 100%;">
        </div>
        <div id="requiredFields" style="color: red; font-size: 2em; visibility: hidden;">*Required
        </div>
      </div>
      </div>
      </div>
      <div style="display: flex; justify-content: flex-end; padding: 20px; background: white">
        <button id="cancel" style="padding: 10px; margin: 5px; width: 70px">
          Cancel
        </button>
        <button
          id="submitButton"
          onclick="submitForm()"
          style="padding: 10px; margin: 5px; width: 70px"
        >
          Submit
        </button>
  </div>
</div>
<!-- Form submit button -->

<!-- Add the jQuery library -->
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

<script>
  function createPDF() {
    var name = document.getElementById("name").value;
    console.log(name);
    html2canvas(document.getElementById("releaseForm"), {
      scale: 0.7,
      backgroundColor: "white",
      onrendered: function(canvas) {
        var img = canvas.toDataURL("image/png");
      google.script.run.withSuccessHandler(uploadComplete).uploadFileToGoogleDrive(img, name + " General Release.png")
      }
    });
//  document.getElementById("releaseForm").style="display: none"
  document.getElementById("pleaseWait").style="display: block; margin: 200px 0 200px 0; background: red; font-size: 2em;"
  }

  function submitForm() {
    var nameValue = document.getElementById("name").value
    var parentGuardianValue = document.getElementById("parentGuardian").value
    var addressValue = document.getElementById("address").value
    var emailValue = document.getElementById("email").value
    var sigData = signaturePad.toData()

    console.log(signaturePad.toData())

    if (nameValue === "") {$("#name").css("border-color","red");}else{$("#name").css("border-color","grey")}
    if (parentGuardianValue === "") {$("#parentGuardian").css("border-color","red");}else{$("#parentGuardian").css("border-color","grey");}
    if (addressValue === "") {$("#address").css("border-color","red");}else{$("#address").css("border-color","grey");}
    if (emailValue === "") {$("#email").css("border-color","red");}else{$("#email").css("border-color","grey");}
    if (sigData.length === 0) {$("#sigWrapper").css("border-color","red");}else{$("#sigWrapper").css("border-color","grey");}

    if (nameValue !== "" && parentGuardianValue !== "" && addressValue !== "" && emailValue !== "" && sigData.length !== 0) {
    $("#requiredFields").css("visibility","hidden")
    createPDF();
    } else {
    $("#requiredFields").css("visibility","visible")
    }
  }

  function uploadComplete(){
  document.getElementById("pleaseWait").style="display: block; margin: 200px 0 0 0; background: green; font-size: 2em;"
  document.getElementById("pleaseWait").innerHTML="Complete"
  document.getElementById("Ok").style="display: block; margin-top: 20px; margin-bottom: 200px; padding: 5px; font-size: 2em; width: 120px;"
  }

  function redirect(){
    window.open('https://www.isolastables.com/', '_top')
  }

//////

var signaturePad = new SignaturePad(document.getElementById('signature-pad'), {
  backgroundColor: 'rgba(255, 255, 255, 0)',
  penColor: 'rgb(0, 0, 0)',
});

var cancelButton = document.getElementById('clear');
cancelButton.addEventListener('click', function (event) {
signaturePad.clear();

});
var d = new Date()
console.log(d)
document.getElementById("dateText").textContent = d
document.getElementById("cancel").onclick = function(){redirect()}

</script>



add second file to project called server.js
</server>


server.js file

/* The script is deployed as a web app and renders the form */
function doGet(e) {
  return HtmlService
    .createHtmlOutputFromFile('forms.html')
}

function uploadFileToGoogleDrive(data, file) {

  try {

    var location = "Release Forms";
    var folder, folders = DriveApp.getFoldersByName(location);

    if (folders.hasNext()) {
      folder = folders.next();
    } else {
      folder = DriveApp.createFolder(location);
    }

    var contentType = data.substring(5,data.indexOf(';')),
        bytes = Utilities.base64Decode(data.substr(data.indexOf('base64,')+7)),
        blob = Utilities.newBlob(bytes, contentType, file);

    var file1 = folder.createFile(blob);
    return file1;
  } catch (f) {
    return f.toString();
  }
}


